---
import Base from '../../layouts/Base.astro';
import AUTODOC_ENTRIES from '../../../public/autodoc/index.json';

export const getStaticPaths = () => {
  let paths: { params: { slug: string }; props: { slug: string } }[] = [];

  AUTODOC_ENTRIES.forEach((slug) => {
    paths.push({ params: { slug }, props: { slug } });
  });

  return paths;
};

export interface Props {
  slug: string;
}

const { slug } = Astro.props;
---

<Base slug={slug}>
  <p>beanos {slug}</p>
</Base>
