---
import AUTODOC_ENTRIES from '../../public/autodoc/index.json';

interface Child {
  slug: string;
  name: string;
}

let entries: { [key: string]: Child[] } = {};

AUTODOC_ENTRIES.forEach((slug) => {
  const [crate, file] = slug.split('/');
  if (!entries[crate]) {
    entries[crate] = [];
  }
  let name = file
    .split('.')[0]
    .replace(/(?:^|_)([a-z0-9])/gm, (_, p1: string) => p1.toUpperCase())
    .replace(/[A-Z]/gm, ' $&');
  entries[crate].push({ slug, name });
});

export interface Props {
  slug?: string;
}

let { slug } = Astro.props;
---

<div id="sidebar" class="notransition">
  <p>Why did the bean cross the road? To die_kms</p>
  <a href="/" class={slug == '/' ? 'active' : ''}>Home</a>
  <ul id="index">
    {
      Object.entries(entries)
        .filter(([_, children]) => children.length)
        .map(([crate, children]) => (
          <details open class="category">
            <summary>{crate[0].toUpperCase() + crate.substring(1)}</summary>
            <li>
              <ul>
                {children.map((child) => (
                  <li class="page">
                    <a href={`/reference/${child.slug}`} class={slug == child.slug ? 'active' : ''}>
                      {child.name}
                    </a>
                  </li>
                ))}
              </ul>
            </li>
          </details>
        ))
    }
  </ul>
</div>

<style>
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--sidebar-width);
    padding: 20px 10px;
    background-color: var(--gray-200);
    box-sizing: border-box;
    transition: transform ease-in-out 250ms;
  }

  #index {
    padding: 0;
  }

  .category {
    list-style: none;
  }

  .category > summary {
    font-size: 22px;
    font-weight: normal;
    margin: 10px 10px;
    list-style: none;
  }

  .category > li > ul {
    padding: 0 10px;
  }

  .page {
    list-style: none;
    padding: 2px 0;
    margin: 0px 5px;
  }

  #sidebar a {
    color: var(--color-text-200);
    font-weight: 300;
    border: unset;
  }

  #sidebar a:hover {
    color: var(--gray-500);
  }

  #sidebar.sidebar-hide {
    transform: translate(-100%, 0);
  }

  #sidebar a.active {
    border-bottom: 1px solid var(--color-text-200);
  }

  #sidebar a.active:hover {
    border-bottom: 1px solid var(--gray-500);
  }

  :global(.notransition) {
    transition: unset !important;
  }
</style>
